.chat-messages {
  overflow-y: auto;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  scrollbar-width: thin;
}

.message {
  width: 100%;
  align-items: center;
  flex-shrink: 0;
  display: flex;
}

.user-box {
  justify-content: flex-end;
}

.message-text {
  min-width: 60%;
  max-width: 75%;
  border-radius: 0rem 1.25rem 1.25rem 1.25rem;
  background: #898888;
  min-height: 1.7rem;
  padding-top: 0.25rem;
  position: relative;
}

.user-message {
  padding-left: 1rem;
  border-radius: 1.25rem 0rem 1.25rem 1.25rem;
  background: #000;
}

.bot-message {
  padding-left: 1rem;
  border-radius: 0rem 1.25rem 1.25rem 1.25rem;
  background: #898888;
}
