:root {
  --bg-color: #353535;
  --secondary-color: #606060;
  --font-color: #fff;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  background-image: url("./assets/Bg.png");
  color: var(--font-color);
}
.app {
  display: grid;
  place-items: center;
}